name: Python Package

on:
  push:
    paths-ignore:
      - 'docs/**'
    branches:
      - master
      - dev
  pull_request:
    paths-ignore:
      - 'docs/**'
    branches:
      - '**'

concurrency:
  group: tests-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  test:
    name: ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.image }}
    strategy:
      matrix:
        os: [Ubuntu]
        python-version: ["3.8", "3.12"]
        include:
          - os: Ubuntu
            image: ubuntu-latest
      fail-fast: false
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Get full Python version
      id: full-python-version
      run: echo version=$(python -c "import sys; print('-'.join(str(v) for v in sys.version_info))") >> $GITHUB_OUTPUT

    - name: Install dependencies
      run: |
        pip install -e .
        pip install pytest pytest-cov

      
    - name: Run tests with coverage
      run: |
        pytest --cov=. --cov-report xml --cov-report term
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
